<!DOCTYPE html>

<html>

<head>
    <title>Reservations</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
<div class="row">
  <div class="column">
    <div class="card">
        <h3>Reservation Number: {{id}}</h3>
        <p>User: {{user}}</p>
        <p>Location: {{location}}</p>
        <p>Start: {{startDateTime}}</p>
        <p>End: {{endDateTime}}</p>
    </div>
  </div>
  </div>
</body>

</html>